body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#galleryImage {
    width: 400px;  /* Установка ширины */
    height: 300px; /* Установка высоты */
    border: 2px solid #000;
    object-fit: cover; /* Сохранение пропорций при обрезке изображения */
}
